<!DOCTYPE html>
<html lang="tr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Tüm Makaleler</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div th:replace="~{navbar2.html}"></div>
<div class="d-flex justify-content-center flex-wrap">
    <h1 class="mt-5 display-7">Sistemimiz Tarafından Onaylanan Tüm Makaleleri Buradan İnceleyebilirsiniz</h1>
</div>

<div id="ana-div" class="justify-content-center flex-wrap">
    <section class="py-5">
        <div class="container">
            <div class="row  justify-content-center">
                <div class="card-group col-md-8 mt-3 ms-5" th:each="paper, status : ${paper_list}">
                    <div class="card">
                        <div class="card-header bg-transparent">
                            <h5 class="card-title fw-bolder mt-2"><dd th:text="${paper.title}"></dd></h5>
                        </div>
                        <div class="card-body">
                            <dl class="row">
                                <dt class="col-sm-4">Paper ID:</dt>
                                <dd class="col-sm-8" th:text="${paper.id}"></dd>
                                <hr>
                                <dt class="col-sm-4">Paper Field:</dt>
                                <dd class="col-sm-8" th:text="${paper.paper_field}"></dd>
                                <hr>
                                <dt class="col-sm-4">Author:</dt>
                                <dd class="col-sm-8" th:text="${paper.author.name + ' ' + paper.author.surname}"></dd>
                                <hr>
                                <dt class="col-sm-4">Keywords:</dt>
                                <dd class="col-sm-8">
                                  <span th:each="keyword, iterStat : ${paper.keywords}">
                                      <span name="Day" th:text="${keyword.keyword} + ( ${iterStat.last} ? '' : ', ' )">
                                      </span>
                                  </span>
                                </dd>
                                <hr>
                                <dt class="col-sm-4">Sources:</dt>
                                <dd class="col-sm-8">
                                  <span th:each="source, iterStat : ${paper.sources}">
                                      <span name="Day" th:text="${source.source} + ( ${iterStat.last} ? '' : ', ' )">
                                      </span>
                                  </span>
                                </dd>
                                <hr>
                                <dt class="col-sm-4">Files:</dt>
                                <dd class="col-sm-8">
                                  <span th:each="paper_file, status_2 : ${paper.paper_files}">
                                      <a th:href="@{'/file/'+ ${paper_file.file_location}}" th:text="'Dosya_' + ${status_2.index} + ( ${status_2.last} ? '' : ', ' )" download>
                                      </a>
                                  </span>
                                </dd>
                            </dl>
                        </div>
                        <div class="card-footer">
                            <small>
                                <strong >Upload Date:</strong>
                                <span class="ms-5" th:text="${paper.upload_date}"></span>
                            </small>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body" th:text="${paper.summary}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div th:replace="~{script.html}"></div>
</body>
</html>