<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="nav-link active" href="/home">
            <div class="d-flex justify-content-center">
                        <span class="material-symbols-outlined">
                            home
                        </span>
                <div class="ms-1">
                    Anasayfa
                </div>
            </div>
        </a>
        <button class="navbar-toggler order-1" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item m-1" sec:authorize="isAnonymous()">
                    <a class="nav-link active" th:href="@{/login}" >
                        <div class="d-flex justify-content-center">
                                    <span class="material-symbols-outlined">
                                        person
                                    </span>
                            <div class="ms-1">
                                Giriş Yap
                            </div>
                        </div>
                    </a>
                </li>
                <li class="nav-item m-1" sec:authorize="isAuthenticated()">
                    <a id="hesabim-button"class="nav-link active" href="#">
                        <div class="d-flex justify-content-center">
                            <span class="material-symbols-outlined">
                                account_circle
                            </span>
                            <div class="ms-1">
                                Hesabım
                            </div>
                        </div>
                    </a>
                </li>
                <li class="nav-item m-1" sec:authorize="isAuthenticated()">
                    <a class="nav-link active" th:href="@{/logout}">
                        <div class="d-flex justify-content-center">
                                    <span class="material-symbols-outlined">
                                        logout
                                    </span>
                            <div class="ms-1">
                                Çıkış Yap
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>